mat-card {
    padding: 16px;
}

.pin-upper-right-corner {
    position: absolute;
    top: 16px;
    right: 16px;
}


.user-detail-header {
    min-height: 250px;
    background-color: #ff5b27;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    img {
        height: 100px;
        width: 100px;
        border-radius: 100%;
        object-fit: cover;
    }
}

.user-details {
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100px;

    h2 {
        margin-bottom: 0;
    }

    br {
        height: 5px;
    }
}

.user-details-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button {
        width: 150px;
    }
}

.notice-container {

    .pin-upper-right-corner {
        top: 0;
        right: 0;
    }

}

.notice-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgba($color: #000000, $alpha: .4);
}
